// /* _variables.scss */


// Colors
$color-primary: #D4A373;
$color-green: #556B2F;
$color-cream: #F5F5DC;

// Spaces
$space-m: 1rem;
$space-l: 2rem;
$space-xl: 3rem;
$space-xxl: 4rem;

// Fonts

// Breakpoints
$phone: 600px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;